.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loginsubtitle{
  text-align: center
}
.cardcenter{
  margin: 0 auto; 
  float: none; 
  margin-top: 100px;
  margin-bottom: 10px;
}
.Registercardcenter{
  margin: 0 auto; 
  float: none; 
  margin-top: 40px;
  margin-bottom: 10px;
}

input.input-error,
select.input-error{
  border-color: red;
}
.form-control-second:valid {
  background-color:  #f50808!important;
}
button:disabled{
  opacity: 0.35;
}
.gradient-custom {
 
  background: #f6d365;
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
  }